<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Welcome to my site</title>
    <meta name="description" content="The best file host on all of interwebs">
</head>
<body>
    <div class="container">
        <div>
            <h1>epic file host</h1>
            <code>curl -F 'upload_token=1234567890' -F 'file=@yourfile.png' https://{{.}}/api/upload</code>

            <p>Files are kept for 7 days, <a href="https://github.com/BatteredBunny/imagehost">source code</a>, <a href="https://{{.}}/api_list">api list</a></p>
        </div>

        <form action="/api/upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="type" value="upload" hidden>

            <input type="text" name="upload_token" autocomplete="current-password" placeholder="Upload token">
            <br>

            <input type="file" name="file">
            <br>

            <input type="submit" value="Upload">
        </form>

        <img class="neco" src="/public/neco_crab.gif" alt="Neco eating crab">
    </div>
</body>
</html>