<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        body {
            font-family: Comic Sans MS
        }

        form, div {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>epic image host</h1>
        <p>curl -F 'type=upload' -F 'token=1234567890' -F 'file=@yourfile.png' https://{{.}}</p>

        <p>Files are kept for 7 days, <a href="https://github.com/BatteredBunny/imagehost">source code</a></p>
    </div>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="text" name="type" value="upload" hidden>

        <label for="token">Upload token</label>
        <input type="text" id="token" name="token">
        <br>

        <input type="file" name="file">
        <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>