@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

:root {
    color-scheme: light dark;

    --background-color: white;
    --text-color: black;
    --link-color: purple;

    --menu-bg-color: #f0f0f0;
    --menu-border-color: #cccccc;

    --alternative-bg-color: #e0e0e0;
    --alternative-text-color: black;

    --warning-bg-color: #ffcccc;
    --warning-border-color: #ff0000;
    --warning-text-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --text-color: white;
        --link-color: orange;

        --menu-bg-color: #333333;
        --menu-border-color: #666666;

        --alternative-bg-color: #444444;
        --alternative-text-color: white;

        --warning-bg-color: #813737;
        --warning-border-color: #ff0000;
        --warning-text-color: #ff0000;
    }
}

#mascot {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}

a {
    text-decoration: none;
    color: var(--link-color);

    &:hover {
        text-decoration: underline;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.setting-group {
    border: 2px solid var(--menu-border-color);
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    padding: 10px;
}

.warning-modal {
    border: 2px solid var(--warning-border-color);
    background-color: var(--warning-bg-color);
    border-radius: 10px;
    padding: 5px;
}

#images {
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .image {
            display: flex;
            flex-direction: column;
            flex: 1 1 300px;
            max-width: 300px;
            border: 1px solid var(--menu-border-color);
            border-radius: 5px;

            .image-content {
                img,
                video {
                    max-width: 300px;
                    height: auto;
                    object-fit: cover;
                }
            }

            .info-bar {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                border-top: 1px solid var(--menu-border-color);
                gap: 5px;
            }
        }
    }
}

code {
    background-color: var(--alternative-bg-color);
    color: var(--alternative-text-color);
    padding: 5px;
    border-radius: 5px;
}

#upload-tokens {
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        li code {
            user-select: all;
        }
    }
}

#invite-codes {
    .codes {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .code {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            border-bottom: 1px solid var(--menu-border-color);
            padding: 1px;

            .code-text {
                user-select: all;
                display: flex;
                align-self: center;
            }

            .info {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-self: center;
            }
        }
    }
}

#topbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;

    background-color: var(--menu-bg-color);
    border-bottom: 1px solid var(--menu-border-color);

    .left {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .right {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

#users-panel {
    .users-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .user-card {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            border: 1px solid var(--menu-border-color);
            border-radius: 5px;
            padding: 10px;
            gap: 10px;

            .top-row {
                display: flex;
                justify-content: space-between;

                .right {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                }
            }
        }
    }
}

.badge {
    border: 1px solid var(--menu-border-color);
    border-radius: 10px;
    padding: 4px;
}

#account-settings {
    .account-settings-button-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.bold {
    font-weight: bold;
}
