@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

:root {
    color-scheme: light dark;

    --background-color: light-dark(white, #1e1e1e);
    --text-color: light-dark(black, white);
    --link-color: light-dark(purple, orange);

    --button-border-color: light-dark(#cccccc, #666666);

    --menu-bg-color: light-dark(#f0f0f0, #333333);
    --menu-border-color: light-dark(#cccccc, #666666);

    --alternative-bg-color: light-dark(#e0e0e0, #444444);
    --alternative-text-color: light-dark(black, white);

    --warning-bg-color: light-dark(#ffcccc, #813737);
    --warning-border-color: #ff0000;
    --warning-text-color: #ff0000;
}

#mascot {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}

a {
    text-decoration: none;
    color: var(--link-color);

    &:hover {
        text-decoration: underline;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.setting-group {
    border: 2px solid var(--menu-border-color);
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    padding: 10px;
}

.warning-modal {
    border: 2px solid var(--warning-border-color);
    background-color: var(--warning-bg-color);
    border-radius: 10px;
    padding: 5px;
}

#images {
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .image {
            display: flex;
            flex-direction: column;
            flex: 1 1 300px;
            max-width: 300px;
            border: 1px solid var(--menu-border-color);
            border-radius: 5px;

            .image-content {
                img,
                video {
                    max-width: 300px;
                    height: auto;
                    object-fit: cover;
                }
            }

            .info-bar {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                border-top: 1px solid var(--menu-border-color);
                gap: 5px;
            }
        }
    }
}

code {
    background-color: var(--alternative-bg-color);
    color: var(--alternative-text-color);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--menu-border-color);
}

button, input[type="submit"] {
    border: 1px solid var(--button-border-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;

    transition-duration: .15s;
}

.feather-icon {
  width: 14px;
  height: 14px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.delete-button {
    color: rgb(247, 0, 0);
    border-color: rgb(247, 0, 0) !important;

    &:hover {
        background-color: rgb(214, 0, 0);
        border-color: rgb(214, 0, 0);

        color: white;

        transition-duration: .2s;
    }
}


#upload-tokens {
    form input[type="text"] {
        padding: 5px;
    }

    .upload-tokens-list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        margin-top: 5px;
        padding-bottom: 5px;

        border: 2px solid var(--menu-border-color);
        border-radius: 5px;

        .upload-token-entry {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: space-between;

            border-top: 1px solid var(--menu-border-color);
            padding: 5px;

            .info-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .nickname {
                    font-weight: bold;
                    font-size: large;
                }

                .extra-info {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
            }

            code {
                user-select: all;
            }
        }
    }
}

#invite-codes {
    .codes {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .code {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            border-bottom: 1px solid var(--menu-border-color);
            padding: 10px;

            .code-text {
                user-select: all;
                display: flex;
                align-self: center;
            }

            .info {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-self: center;
            }
        }
    }
}

#topbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;

    background-color: var(--menu-bg-color);
    border-bottom: 1px solid var(--menu-border-color);

    .left {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .right {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

#users-panel {
    .users-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .user-card {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            border: 1px solid var(--menu-border-color);
            border-radius: 5px;
            padding: 10px;
            gap: 10px;

            flex: 2;

            .top-row {
                display: flex;
                justify-content: space-between;

                .left {
                    align-self: center;
                }

                .right {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                }
            }

            .middle-row {
                display: flex;
                flex-direction: column;
                border: 2px solid var(--menu-border-color);
                border-top: 0px;
                border-radius: 5px;

                .entry {
                    display: flex;
                    flex-direction: row;
                    border-top: 1px solid var(--menu-border-color);

                    div {
                        padding: 2px;
                    }

                    .name {
                        border-right: 1px solid var(--menu-border-color);
                        flex: 1;

                        align-self: center;

                        svg {
                            vertical-align: middle;
                            margin-left: 2px;
                        }

                        div {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }

                    .value {
                        flex: 1;
                    }
                }
            }

            .bottom-row {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

.badge {
    border: 1px solid var(--menu-border-color);
    border-radius: 10px;
    padding: 4px;
}

#account-settings {
    .account-settings-button-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.bold {
    font-weight: bold;
}
