services:
  hostling:
    container_name: hostling
    build: ./
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    ports:
      - "8080:80"
    volumes:
      - ./hostling-data:/app/data
      - ./examples/example_docker.toml:/app/config.toml
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    container_name: postgres_hostling
    image: postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_USER=postgres
      - POSTGRES_DB=hostling
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped