version: "3.7"

services:
  imagehost:
    container_name: imagehost
    image: imagehost
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    ports:
        - 8080:8080
    volumes:
      - ./imagehost-data:/app/data
      - ./config.json:/app/config.json
    depends_on:
      - db
    restart: unless-stopped
  db:
    container_name: postgres-imagehost
    image: postgres-imagehost
    ports:
        - 5433:5432
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_USER=postgres
      - POSTGRES_DB=imagehost
    restart: unless-stopped
