<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Admin</title>
    <meta name="description" content="The best file host on all of interwebs">
</head>

<body>
    {{ template "topbar.gohtml" . }}

    <div class="container">
        <h1>Admin</h1>

       <div id="users-panel" class="setting-group">
            <h2>Users</h2>
            <div class="users-grid">
                {{ range .Users }}
                    <div class="user-card">
                        <div>User {{ .ID }} ({{ .AccountType }})</div>
                        <div>Linked to {{ .GithubUsername }}</div>
                        <div>Created at {{ formatTimeDate .CreatedAt }}</div>
                        <div>Space used {{ .SpaceUsed }} bytes</div>
                        <div>Files uploaded {{ .FilesUploaded }}</div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</body>

</html>
