<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Welcome to my site</title>
    <meta name="description" content="The best file host on all of interwebs">
</head>

<body>
    <div class="container">
        {{ if .LoggedIn }}
        <a href="/user">Account {{ .AccountID }}</a>
        {{ end }}

        <div>
            <h1>epic file host</h1>
            <code>curl -F 'upload_token=1234567890' -F 'file=@yourfile.png' https://{{ .Host }}/api/file/upload</code>

            <p><a href="https://github.com/BatteredBunny/imagehost">source code</a>, <a href="/api_list">api list</a></p>
        </div>

        {{ if .LoggedIn }}
        <p><a href="/logout">Logout</a></p>
        {{ else }}
        <p><a href="/login">Login</a></p>
        {{ end }}

        <form action="/api/file/upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="type" value="upload" hidden>

            <input type="text" name="upload_token" autocomplete="current-password" placeholder="Upload token">
            <br>

            <input type="file" name="file">
            <br>

            <input type="submit" value="Upload">
        </form>

        <br>

        <form action="/api/auth/register" method="GET" enctype="multipart/form-data">
            <input type="text" name="code" placeholder="Register code">
            <input type="submit" value="Register">
        </form>

        <img alt="Neco eating crab" class="neco" height="180" src="/public/neco_crab.gif" width="224">
    </div>
</body>

</html>