<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>File host</title>
    <meta name="description" content="The best file host on all of interwebs">
</head>

<body>
    <div id="mascot">
        <img alt="Neco eating crab" height="180" width="224" src="/public/neco_crab.gif">
    </div>

    {{ template "topbar.gohtml" . }}

    <div class="container">
        <div>
            <h1>File host</h1>
            <code>curl -F 'upload_token=1234567890' -F 'file=@yourfile.png' https://{{ .Host }}/api/file/upload</code>
        </div>

        <h2>Upload</h2>
        <form action="/api/file/upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="type" value="upload" hidden>

            <input type="text" name="upload_token" autocomplete="current-password" placeholder="Upload token">
            <br>

            <input type="file" name="file">
            <br>

            <span>Expires:</span>
            <input type="date" name="expiry_date">
            <br>

            <input type="submit" value="Upload">
        </form>
    </div>
</body>

</html>
