<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <p><a href="/">Home</a></p>

        <h1>Login</h1>
        <p><a href="/api/auth/login/github">Log in with github</a></p>
    </div>
</body>
</html>