<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "header.gohtml" . }}
    <link rel="stylesheet" href="/public/styles/common.css">
    {{ template "meta-title.gohtml" "Register" }}
</head>

<body>
    {{ template "mascot.gohtml" . }}

    {{ template "toolbar.gohtml" . }}

    <div class="container">
        <h1>Register</h1>

        <form action="/api/auth/register" method="GET" enctype="multipart/form-data">
            <input type="text" name="code" placeholder="Register code">
            <input type="submit" value="Register">
        </form>
    </div>
</body>

</html>