<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>User</title>
    <meta name="description" content="The best file host on all of interwebs">
</head>

<body>
    {{ template "topbar.gohtml" . }}

    <div class="container">
        <h1>User</h1>

        <div id="social-login" class="setting-group">
            <h2>Social login</h2>

            {{ if .LinkedWithGithub }}
            <p>Linked with github {{ .GithubUsername }}</p>
            {{ else }}
            <p><a href="/api/auth/link/github">Link with github</a></p>
            {{ end }}
        </div>

        <div id="images" class="setting-group">
            <h2>Files</h2>
            <p>{{ .ImagesCount }} files uploaded</p>
            <div class="image-grid">
                {{ range .Files }}
                <div class="image">
                    <code><img width="100" src="/{{ .FileName }}" alt="{{ .FileName }}"></code>
                    {{ if formatTimeDate .ExpiryDate }}
                        <div>Expires {{ formatTimeDate .ExpiryDate }}</div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>

        <div id="upload-tokens" class="setting-group">
            <h2>Upload tokens</h2>

            <form action="/api/account/new_upload_token" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Create upload token">
            </form>

            <ul>
                {{ range .UploadTokens }}
                <li><code>{{ . }}</code></li>
                {{ end }}
            </ul>
        </div>

        <div id="invite-codes" class="setting-group">
            <h2>Invite codes</h2>
            <div class="codes">
                {{ range .InviteCodes }}
                <div class="code">
                    <code class="code-text">{{ .Code }}</code>
                    <div class="info">
                        <div>Uses left {{ .Uses }}</div>
                        <div>Expires {{ formatTimeDate .ExpiryDate }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

        {{ if .IsAdmin }}
        <div id="admin-panel" class="setting-group">
            <h2>Admin actions</h2>

            <form action="/api/account/new_invite_code" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Create invite token">
            </form>
        </div>
        {{ end }}
    </div>
</body>

</html>
