<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>User</title>
</head>

<body>
    <div class="container">
        <p><a href="/">Home</a></p>

        <h1>User</h1>
        {{ if .LinkedWithGithub }}
        <p>Linked with github {{ .GithubUsername }}</p>
        {{ else }}
        <p><a href="/api/auth/link/github">Link with github</a></p>
        {{ end }}

        <p>{{ .ImagesCount }} images</p>
        <ul>
            {{ range .Files }}
            <li>
                <a href="/{{ .FileName }}">{{ .FileName }}</a>
            </li>
            {{ end }}
        </ul>

        <form action="/api/account/new_upload_token" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Create new upload token">
        </form>

        <p>Upload tokens:</p>
        <ul>
            {{ range .UploadTokens }}
            <li><code>{{ . }}</code></li>
            {{ end }}
        </ul>

        {{ if .IsAdmin }}
        <form action="/api/account/new_invite_code" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Create new invite token">
        </form>
        {{ end }}

        <p>Invite codes:</p>
        <ul>
            {{ range .InviteCodes }}
            <li>
                <div>Code <code>{{ .Code }}</code></div>
                <div>Uses left {{ .Uses }}</div>
                <div>Expires {{ .ExpiryDate }}</div>
            </li>
            {{ end }}
        </ul>
    </div>
</body>

</html>